apex==0.1
asn1crypto==0.24.0
backcall==0.1.0
boto==2.49.0
boto3==1.9.134
botocore==1.12.134
bz2file==0.98
certifi==2019.3.9
cffi==1.12.3
chainer==6.0.0
chardet==3.0.4
Click==7.0
ConfigArgParse==0.14.0
cryptography==2.3.1
cycler==0.10.0
Cython==0.29.14
dataclasses==0.8
decorator==4.4.0
docutils==0.14
-e git+https://github.com/akshay107/fairseq-nmt-attack@cb772bf35fe1799c0b361a39c91f5d2cf0a1240c#egg=fairseq&subdirectory=fairseq
fastBPE==0.1.0
filelock==3.0.10
future==0.17.1
gensim==3.4.0
h5py==2.9.0
idna==2.8
imageio==2.5.0
importlib-metadata==3.4.0
ipython==7.5.0
ipython-genutils==0.2.0
jedi==0.13.3
jmespath==0.9.4
joblib==0.13.2
kiwisolver==1.1.0
matplotlib==3.1.0
memory-profiler==0.55.0
mkl-fft==1.0.12
mkl-random==1.0.2
networkx==2.3
nltk==3.4.1
numpy==1.16.3
olefile==0.46
packaging==20.8
parso==0.4.0
pexpect==4.7.0
pickleshare==0.7.5
Pillow==6.0.0
portalocker==1.5.1
progressbar==2.5
prompt-toolkit==2.0.9
protobuf==3.7.1
psutil==5.6.2
ptyprocess==0.6.0
pycparser==2.19
Pygments==2.3.1
pyOpenSSL==19.0.0
pyparsing==2.4.0
PySocks==1.6.8
python-dateutil==2.8.0
PyWavelets==1.0.3
regex==2019.8.19
requests==2.21.0
s3transfer==0.2.0
sacrebleu==1.4.1
sacremoses==0.0.33
scikit-image==0.15.0
scipy==1.2.1
sentencepiece==0.1.82
six==1.12.0
smart-open==1.8.2
spark-parser==1.8.7
stop-words==2018.7.23
subword-nmt==0.3.6
tokenizers==0.9.4
torch==1.1.0
torchtext==0.4.0
torchvision==0.2.2
tqdm==4.30.0
traitlets==4.3.2
transformers==4.2.0
typing==3.6.6
typing-extensions==3.7.2
uncompyle6==3.3.4
urllib3==1.24.3
wcwidth==0.1.7
xdis==4.0.2
zipp==3.4.0
